/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


@font-face {
font-family:  "Times New Roman"
}



html {
     scroll-behavior: smooth;
}

body {
     color: black;
     font-size: 24px;
     font-family:  Times New Roman, Garamond, Arial;
     line-height: 1.80857;
     font-weight: normal;
     background: white;
     margin-left:1em;
     margin-right:auto;
     margin-top:0em;
}

div.mar {

     margin-top: -25px;
 
     margin-right: 10px;
 
     margin-bottom: 30px;
 
     margin-left: 100px;
 
 }

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     margin: 0
}

h1 {
     font-size: 22px
}

h2 {
     font-size: 20px
}

h3 {
     font-size: 18px
}

h4 {
     font-size: 15px
}



p {
     margin: 20px;
     font-weight: 300;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: green;
     text-decoration: underline;
     outline: none !important;
}
